* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
/* NAV */

.navbar {
  background-color: #f5fbff !important;
  padding: 20px 20px 20px 0 !important;
  max-width: 1920px !important;
  margin: 0 auto !important;
}
.navbar-collapse {
  position: relative !important;
}

.nav-item {
  text-align: right !important;
}

.home-nav-item {
  padding: 12px 0 12px 0 !important;
}
#home-nav-item {
  color: #101126;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.about-nav-item {
  padding: 12px 0 12px 64px !important;
}
#about-nav-item {
  color: #101126;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.contact-nav-item {
  padding: 12px 0 12px 64px !important;
}
#contact-nav-item {
  color: #101126 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.mx-auto {
  display: flex !important;
}

/* SECTION 01 */
.bio {
  background-color: #f5fbff;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}

.bio span {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 15px;
}

.bio h1 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 60px;
  font-weight: 1000;
  padding-top: 0;
  padding-bottom: 40px;
}

.bio img {
  width: 500px;
  padding: 0 20px;
}

.bio h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding-top: 65px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.bio a {
  display: inline-flex;
  align-items: center;
  background: #101126;
  color: white;
  text-decoration: none;
  padding: 0 1.75rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 50px;
}

/* SECTION 02*/
.general-description {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 100px 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#element1 {
  position: relative;
  max-width: 500px;
  padding: 100px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
}

#element2 {
  position: relative;
  text-align: left !important;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

#element2 article {
  padding: 80px 20px 0 20px !important;
}

#element1 p {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

#element2 h3 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#element2 p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* SECTION 03 */
.phrase {
  background-color: #101126;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 100px 40px;
  max-width: 1920px;
}

.phrase p {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.phrase h1 {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.phrase aside {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  text-align: right !important;
}

/* SECTION 04 */
footer {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
  flex-wrap: wrap;
  max-width: 1920px;
}

footer .foot-contact {
  text-align: left;
}

footer .brayan {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

footer .email,
.phone-num {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

footer .social-media {
  padding: 60px 0;
}
footer .social-media .bi,
.email {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #000000;
}

footer .social-media .bi-linkedin {
  margin: 0 20px;
}

/* ---------------------------ABOUT PAGE----------------------------- */

/* SECTION 01 */
.about-me {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 20px 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#education {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px 60px 20px;
}

#hobbies {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0px 20px 20px 20px;
}

.about-me h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

.about-me p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
}

.about-me a {
  display: inline-flex;
  align-items: center;
  background: #000000;
  color: white;
  text-decoration: none;
  padding: 0 1.75rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

/* SECTION 02  */

.edu-hobbies {
  background-color: #f5fbff;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  max-width: 1920px;
}

.edu-hobbies h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  padding: 20px 40px 20px 40px;
}

/* ---------------------------EDUCATION PAGE----------------------------- */

.more-education {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 20px 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#ib {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px 60px 20px;
}

#ib-info {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
}

#ib h1 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

#ib p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
}

.ib inframe {
  padding: 0 20px;
  border: none;
  width: 100%;
}

#ib-info h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#ib-info p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
}

/* ---------------------------HOBBIES PAGE----------------------------- */
.more-hobbies {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#volunteering {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin: 0 auto 40px auto;
  padding: 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#volunteering img {
  width: 350px;
}

#volunt-description {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px;
}

#volunt-img {
  position: relative;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px;
}

#poetry {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#poetry-inframe {
  position: relative;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 50px 20px;
}

#poetry-description {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px;
}

#drawing {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  max-width: 1920px;
}

#drawing-description {
  position: relative;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 50px 20px;
}

#drawing-img {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px;
}

#poetry iframe {
  width: 100%;
  padding: 0 40px 40px 40px;
}

#drawing img {
  width: 500px;
  padding: 0 20px;
}

.more-hobbies h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

.more-hobbies p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
}
/* ---------------------------CONTACT PAGE----------------------------- */
body {
  background-color: #f5fbff;
}
#send-container {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  max-width: 1920px;
  background-color: #f5fbff !important;
}

#send-container h1 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

#send-container h5 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.form-control {
  margin: 10px 0 20px 0 !important;
}

#btn-send {
  display: inline-flex;
  align-items: center;
  background: #000000;
  color: white;
  text-decoration: none;
  padding: 0 1.75rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border-color: #f5fbff;
}

#contact-profile {
  width: 500px;
  padding: 0 20px;
}
