* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
/* NAV */

.navbar {
  background-color: #f5fbff !important;
  padding: 20px 20px 20px 0 !important;
  max-width: 1440px !important;
  margin: 0 auto !important;
}
.navbar-collapse {
  position: relative !important;
}

.nav-item {
  text-align: right !important;
}

.home-nav-item {
  padding: 12px 0 12px 0 !important;
}
#home-nav-item {
  color: #101126;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.about-nav-item {
  padding: 12px 0 12px 64px !important;
}
#about-nav-item {
  color: #101126;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.contact-nav-item {
  padding: 12px 0 12px 64px !important;
}
#contact-nav-item {
  color: #101126 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.mx-auto {
  display: flex !important;
}

/* SECTION 01 */
.bio {
  background-color: #f5fbff;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.bio span {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 15px;
}

.bio h1 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 60px;
  font-weight: 1000;
  padding-top: 0;
  padding-bottom: 40px;
}

.bio img {
  width: 500px;
  padding: 0 20px;
}

.bio h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding-top: 65px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.bio a {
  display: inline-flex;
  align-items: center;
  background: #101126;
  color: white;
  text-decoration: none;
  padding: 0 1.75rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 50px;
}

/* SECTION 02*/
.general-description {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 100px 0;
  flex-wrap: wrap;
  max-width: 1440px;
}

#element1 {
  position: relative;
  max-width: 500px;
  padding: 100px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
}

#element2 {
  position: relative;
  text-align: left !important;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

#element2 article {
  padding: 80px 20px 0 20px !important;
}

#element1 p {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

#element2 h3 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#element2 p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* SECTION 03 */
.phrase {
  background-color: #101126;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 100px 40px;
  max-width: 1440px;
}

.phrase p {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.phrase h1 {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.phrase aside {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  text-align: right !important;
}

/* SECTION 04 */
footer {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
  flex-wrap: wrap;
  max-width: 1440px;
}

footer .foot-contact {
  text-align: left;
}

footer .brayan {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

footer .email,
.phone-num {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

footer .social-media {
  padding: 60px 0;
}
footer .social-media .bi,
.email {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #000000;
}

footer .social-media .bi-linkedin {
  margin: 0 20px;
}

/* ---------------------------ABOUT PAGE----------------------------- */

/* SECTION 01 */


.more-btn {
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition property */
}

.more-btn:hover {
  background-color: #4f4f4f; /* New background color on hover */
}

.about-me {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 20px 0;
  flex-wrap: wrap;
  max-width: 1440px;
  
}

#education {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 20px 60px 20px;
}

#hobbies {
  position: relative;
  text-align: left;
  max-width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0px 20px 20px 20px;
}

.about-me h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

.about-me p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
}

.about-me a {
  display: inline-flex;
  align-items: center;
  background: #000000;
  color: white;
  text-decoration: none;
  padding: 0 1.75rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

/* SECTION 02  */

.edu-hobbies {
  background-color: #f5fbff;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 80px 0;
  max-width: 1440px;
}

.edu-hobbies h2 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  padding: 20px 40px 20px 40px;
}

.edu-orgs {
  background-color: #f5fbff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  text-align: center;
  margin: 0 0 100px 0px;
  flex-wrap: wrap;
  max-width: 1440px;
}

.edu-pic {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  margin: 20px 20px;
  display: block;
  object-fit: contain;
}


/* ---------------------------CONTACT PAGE----------------------------- */
body {
  background-color: #f5fbff;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 20px 0;
  flex-wrap: wrap;
  width: 100%;
  background-color: #051520;
}

#send-container {
  background-color: #f5fbff !important;
}

.first-column {
  max-width: 600px; 
  width: 100%;
  padding: 0 20px 20px 20px; 
  background-color: #f5fbff; 
  flex: 1;
}

.second-column {
  display: inline-block;
  padding: 80px 20px 20px 20px !important;
  max-width: 500px;
  background-color: #f5fbff;  
  flex: 1;
}

.lofi {
  max-width: 100%; 
  height: auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Coloca los divs en columna */
  }
  .second-column {
    padding-top: 20px !important; /* Ajusta el padding-top para pantallas pequeñas */
    margin-top: 20px; /* Agrega un margen superior para separar los divs */
  }
}


#send-container h1 {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

#send-container h5 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.form-control {
  margin: 10px 0 20px 0 !important;
}

#btn-send {
  display: inline-flex;
  align-items: center;
  background: #000000;
  background-color: #000000; /* Initial background color */
  color: white;
  text-decoration: none;
  padding: 0 1.75rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border-color: #f5fbff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition property */
}


#btn-send:hover {
  background-color: #4f4f4f; /* New background color on hover */
}

#contact-profile {
  width: 500px;
  padding: 0 20px;
}

